@import 'tailwindcss';

.main-content {
  text-align: center;
  padding: 60px 20px; /* Más espacio alrededor del contenido */
}

.main-content h1 {
  font-size: 4rem; /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 4rem; /* Espaciado debajo del título */
}

/* Ajuste para evitar sobrescribir estilos de Tailwind */
.main-content p {
  line-height: 1.75rem; /* Mantener altura de línea */
  max-width: 1000px; /* Limitar el ancho del texto */
  margin: 0 auto; /* Centrar el texto */
}

/* Elimina el color y tamaño global para que Tailwind controle estos estilos */