@import 'tailwindcss';

.main-content {
  text-align: center;
  padding: 60px 20px; /* Más espacio alrededor del contenido */
}

.main-content h1 {
  font-size: 4rem; /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 4rem; /* Espaciado debajo del título */
}

/* Ajuste para evitar sobrescribir estilos de Tailwind */
.main-content p {
  line-height: 1.75rem; /* Mantener altura de línea */
  max-width: 1000px; /* Limitar el ancho del texto */
  margin: 0 auto; /* Centrar el texto */
}

.custom-button {
  background-color: #d32f2f; /* Rojo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #b71c1c; /* Rojo más oscuro */
}

.hidden {
  display: none;
}