@import 'tailwindcss';

.main-content {
  text-align: center;
  padding: 60px 20px; /* Más espacio alrededor del contenido */
}

.main-content h1 {
  font-size: 4rem; /* Tamaño del título */
  font-weight: bold;
  margin-bottom: 4rem; /* Espaciado debajo del título */
}

.main-content p {
  font-size: 1.120rem; /* Tamaño del texto */
  line-height: 1.75rem; /* Altura de línea */
  color: #4a4a4a; /* Color del texto */
  max-width: 1000px; /* Limitar el ancho del texto */
  margin: 0 auto; /* Centrar el texto */
}